.container {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap:10px;
}

.cell {
    color: rgb(127, 108, 216);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2rem;
    text-align:center;
    padding:2rem;
    border-radius:10% 20% 30% 40%;
}

.cell1 {
    background: deepskyblue;
    grid-row:2;
    grid-column: 3;
}

.cell2 {
    background: rgb(212, 187, 45);
    grid-row:1;
    grid-column:1/4;
}

.cell3 {
    background: rgb(117, 71, 202);
}

.cell4 {
    background: rgb(214, 72, 172);
}

.cell5 {
    background: rgb(91, 196, 82);
}

.cell6 {
    background: rgb(12, 11, 46);
}

.cell7 {
    background: rgb(180, 17, 17);
}

.cell8 {
    background: rgb(79, 37, 156);
    grid-row:3;
    grid-column:2/4;
    font-size:15px;
}

div p {
    width:50%;
}

.cell9 {
    background: rgb(171, 206, 45);
}